<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}
    %title= @title
    %script{:src => "/javascripts/modernizr.min.js", :type => "text/javascript"}
    %link{:href => "/stylesheets/screen.css", :rel => "stylesheet"}
  %body
    #config
      %button#shuffle Shuffle letters!
      %select#font
        %option Verdana
        %option Trebuchet MS
        %option Times New Roman
        %option Thonburi
        %option Telugu Sangam MN
        %option Tamil Sangam MN
        %option Snell Roundhand
        %option Sinhala Sangam MN
        %option Party LET
        %option Papyrus
        %option Palatino
        %option Oriya Sangam MN
        %option Optima
        %option Noteworthy
        %option Marker Felt
        %option Marion
        %option Malayalam Sangam MN
        %option Kannada Sangam MN
        %option Kailasa
        %option Hoefler Text
        %option Hiragino Mincho ProN
        %option Hiragino Kaku Gothic ProN
        %option Helvetica Neue
        %option Helvetica
        %option Heiti TC
        %option Heiti SC
        %option Gurmukhi MN
        %option Gujarati Sangam MN
        %option Gill Sans
        %option Georgia
        %option Geeza Pro
        %option Futura
        %option Euphemia UCAS
        %option Didot
        %option Devanagari Sangam MN
        %option DB LCD Temp
        %option Courier New
        %option Courier
        %option Copperplate
        %option Cochin
        %option Chalkduster
        %option Chalkboard SE
        %option Bradley Hand
        %option Bodoni 72
        %option Baskerville
        %option Bangla Sangam MN
        %option Arial Rounded MT Bold
        %option Arial Hebrew
        %option Arial
        %option Apple SD Gothic Neo
        %option Apple Color Emoji
        %option American Typewriter
        %option Academy Engraved LET
    #main
    #launch_config
    %script{:src => "/javascripts/zepto.js", :type => "text/javascript" }
    %script{:src => "/javascripts/app.js", :type => "text/javascript" }


