body {
  background-color: #f2f2f2;
  color: #333;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#configure {
  background: rgba(0, 0, 5, 0.85);
  left: 0;
  position: absolute;
  top: 0;
  height: 40px;
  width: 100%;
  z-index: 5;
  -webkit-transition: -webkit-transform 0.25s ease-in;
  -moz-transition: -moz-transform 0.25s ease-in;
  -o-transition: -o-transform 0.25s ease-in;
  transition: transform 0.25s ease-in;
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
}
#configure.down {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
#configure.down #handle #grab span {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
#configure button {
  margin: 10px;
}
#configure #handle {
  left: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
#configure #handle #grab {
  font-size: 18px;
  line-height: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  background: rgba(0, 0, 5, 0.85);
  margin: 0 auto;
  margin-bottom: -20px;
  height: 20px;
  width: 40px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#configure #handle #grab span {
  display: block;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

#main {
  margin: 0 auto;
}
#main ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
#main li {
  cursor: pointer;
  float: left;
  outline: 1px solid #f9f9f9;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
}
#main li.fade {
  -webkit-transition-duration: 0.75s;
  -moz-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  transition-duration: 0.75s;
}
#main li.selected {
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -o-transition-duration: 0;
  transition-duration: 0;
  background-color: #B7F4B7;
  outline: 1px solid #71BFFF;
  z-index: 2;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
}
