body {
  background-color: #f2f2f2;
  color: #333;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#config {
  right: 0;
  position: absolute;
  bottom: 50px;
  z-index: 6;
  overflow: hidden;
}
#config .wrapper {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgba(0, 0, 0, 0.95);
  padding: 10px;
  -webkit-transform: translateX(220px);
  -moz-transform: translateX(220px);
  -ms-transform: translateX(220px);
  -o-transform: translateX(220px);
  transform: translateX(220px);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  width: 200px;
}
#config.visible .wrapper {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
#config button, #config select {
  display: block;
  margin: 10px 0;
}

#main {
  margin: 0 auto;
}
#main ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
#main li {
  cursor: pointer;
  float: left;
  outline: 1px solid #f9f9f9;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
}
#main li.fade {
  -webkit-transition-duration: 0.75s;
  -moz-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  transition-duration: 0.75s;
}
#main li.selected {
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -o-transition-duration: 0;
  transition-duration: 0;
  background-color: #B7F4B7;
  outline: 1px solid #71BFFF;
  z-index: 2;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
}

#launch_config {
  -webkit-background-size: 32px;
  -moz-background-size: 32px;
  -o-background-size: 32px;
  background-size: 32px;
  height: 32px;
  right: 10px;
  position: absolute;
  bottom: 10px;
  background: url('../images/gear.png?1342459507') no-repeat;
  width: 32px;
}
