@import "compass/css3";
@import "compass/css3/user-interface";
//
// Application Stylesheet
//
body {
  background-color: #f2f2f2;
  color: #333;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#config {
  right: 0;
  position: absolute;
  bottom: 50px;
  z-index: 6;
  background: rgba(0,0,0,.95);
  @include border-left-radius(10px);
  margin: 0 auto;
  @include translateX(220px);
  @include single-transition(transform, .5s);
  padding: 10px;
  width: 200px;

  &.visible {
    @include translateX(0) 
  }

  button, select {
    display: block;
    margin: 10px 0; 
  }
}

#main {
  margin: 0 auto;
  ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
  }
  li {
    cursor: pointer;
    float: left;
    outline: 1px solid #f9f9f9;
    position: relative;
    //overflow: hidden;
    text-align: center;
    @include user-select('none');
    @include transition-property(background-color);

    &.fade {
      @include transition-duration(.75s);
    }

    &.selected {
      @include transition-duration(0);
      //background-color: #FFE;
      background-color: #B7F4B7;
      outline: 1px solid #71BFFF;
      z-index: 2;
      @include single-box-shadow(rgba(0,0,0,.25),0,0,5px,2px);
    }
  }
}

#launch_config {
  @include background-size(32px);
  height: 32px;
  right: 10px;
  position: absolute;
  bottom: 10px;
  background: image-url('gear.png') no-repeat;
  width: 32px
}
